<h1 class="text-light">Edit meta data column for columns: <span class="mif-drive-eta place-right"></span></h1>

<hr class="thin bg-grayLighter">
<div>
    <h4>{{message}}</h4>
    <table id="columnMetaDataList" data-role="datatablemk" ng-click="table_click()" class="border bordered striped hovered cell-hovered full-size"></table>
</div>

<hr class="thin bg-grayLighter">

<div data-role="dialog" id="editDialog" class="padding20 dialog" data-close-button="true" data-windows-style="true">
    <div class="container">
        <div class="input-control modern text iconic full-size" data-role="input">
            <input type="text" ng-model="editVM.columnComment">
            <span class="label">Column Comment</span>
            <span class="informer">Comment for this meta data.</span>
            <span class="icon mif-database"></span>
        </div>

        <div class="input-control modern text iconic full-size" data-role="input">
            <input type="text" ng-model="editVM.extendColumnComment">
            <span class="label">Column Extend Comment</span>
            <span class="informer">Extend comment for this meta data.</span>
            <span class="icon mif-database"></span>
        </div>

        <button class="button primary no-padding-bottom place-right" ng-click="commit_click()" type="button" value="Commit">Commit</button>

    </div>
    <span class="dialog-close-button"></span>
</div>